asgiref==3.7.2
boto3==1.34.71
botocore==1.34.71
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
cryptography==42.0.5
decorator==4.4.2
Django==5.0.3
django-cors-headers==4.3.1
django-storages==1.14.2
djangorestframework==3.14.0
idna==3.6
imageio==2.34.0
imageio-ffmpeg==0.4.9
jmespath==1.0.1
moviepy==1.0.3
numpy==1.26.4
opencv-python==4.9.0.80
pillow==10.2.0
proglog==0.1.10
psycopg2-binary==2.9.9
pycparser==2.21
PyJWT==2.8.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.31.0
s3transfer==0.10.1
six==1.16.0
sqlparse==0.4.4
tqdm==4.66.2
tzdata==2024.1
urllib3==2.2.1
